@model wit
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <br />
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" asp-for="CustomerName" />
        <br /><label>Çekilecek Tutar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class=" btn btn-outline-danger">Para Çekme Tutarında Bulun</button>
    </form>
</div>